
body {
    background-color: #212121;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1; 
}

.main a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    border: 2px solid white;
    margin: 10px;
    padding: 7px;
    border-radius: 7px;
    background-color: aliceblue;
    width: 80%;
}

h2 {
    font-size: 40px;
    text-align: center;
}

.icon {
    color: aliceblue;
    font-size: 30px;
    margin: 12px;
}

footer {
    align-items: center;
    text-align: center;
    background-color: #333; 
    color: #fff; 
    padding: 10px;
}
@media (min-width: 768px) {
    .main a {
        width: 30%;
    }
}

/* Media Query for Desktops and larger screens */
/*@media (min-width: 1024px) {
    .main {
        flex-direction: row;
        justify-content: space-around;
    }

    .main a {
        width: 20%;
    }
}*/